.gif {
  width: 300px;
  display: inline-flex;
  flex-wrap: wrap;
  float: left;
}

.animal {
  padding: 20px;
  margin: 10px;
}

.ratings,
p {
  width: 200px;
  font-style: normal;
  font-stretch: ultra-expanded;
}

.navbar {
  background-color: darkgray;
}

body {
  background-image: url('../images/concrete-texture.png');
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;
}


