.gif {
	width: 200px;
	display: inline-flex;
    flex-wrap: wrap;
    float: left;
    
}

.animal {
    padding: 20px;
	margin: 10px;
	

	
}

.ratings, p {
	width:200px;
	/*white-space:nowrap;
	}*/

